{% extends 'base.html' %}
{% block content %}
    {% load static %}

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

    {% if user.is_authenticated %}
        <button onclick="location.href='{%  url 'logout' %}'" type="button">
         Log Out</button>

        <button onclick="location.href='{% url 'main:map' %}'" type="button">
         View Map</button>
    {% else %}
        <button onclick="location.href='{% url 'login' %}'" type="button">
         Log In</button>
        <button onclick="location.href='{% url 'main:registration' %}'" type="button">
         Register</button>
    {% endif %}
{% endblock %}