{% extends 'base.html' %}
{% block content %}
{% load leaflet_tags %}
{% load static %}


<head>

     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
     integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
     crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
     integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
     crossorigin=""></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" /></head>
<body>

    <form action="/updatedb" method="post">
        {% csrf_token %}
    </form>

    <div class="m-2 text-center">
        <h4>Create Trip:</h4>

        <div id="loadingIcon">
            <div class="spinner-grow text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

            <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

            <div class="spinner-grow text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div id="option-container">
            <button onclick="removeMarker()" class="btn btn-outline-danger">Remove Location <i class="fa-solid fa-trash"></i></button>
            <button onclick="saveTrip()" class="btn btn-outline-success">Save Trip <i class="fa-solid fa-floppy-disk"></i></button>
        </div>

        <div id="map-container">
            <div id="map"></div>
        </div>

    </div>
</body>

<script type="text/javascript">

     map = L.map('map', {doubleClickZoom: false}).locate({setView: true, maxZoom: 14});
     L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'}).addTo(map);

     //make loading icon visible
    let loadHide = document.getElementById('loadingIcon')
    loadHide.style.display = 'block'
     loadHide.style.visibility = 'visible'

     let startLoc;
     let currLoc= [];
     let route= [];
     let counter = 0;
     let locString = [];

    function onLocationFound(e) {
        var radius = e.accuracy;

        L.marker(e.latlng).addTo(map)
            .bindPopup("You are within " + radius + " meters from this point").openPopup();

        L.circle(e.latlng, radius).addTo(map);

        //add start location to array which will contain each waypoint
        locString[counter] = e.latlng.lat + ", " + e.latlng.lng;

         startLoc = e;
         nearbyAttractions();

         console.log(startLoc);
         console.log(e.latlng)
    }

    map.on('locationfound', onLocationFound);

    function removeMarker(){
        //if there is a location added (not including start)
        if(counter != 0) {
            //removes last location and reverts all variables by 1
            currLoc.splice[counter, 1]
            counter = counter - 1;
            map.removeControl(route[counter])

        }
    }

    function onMapClick(e) {

        console.log("ex" + e.latlng);

        //limit amount of added locations to 5
        if(counter < 5) {

            //if no locations added yet
            if (counter == 0) {

                //map route from start
                route[counter] = L.Routing.control({
                    waypoints: [
                        L.latLng(startLoc.latlng),
                        L.latLng(e.latlng)
                    ],
                    routeWhileDragging: true
                }).addTo(map);

            } else {

                //map route from current
                route[counter] = L.Routing.control({
                    waypoints: [
                        L.latLng(currLoc[counter].latlng),
                        L.latLng(e.latlng)
                    ],
                    routeWhileDragging: true
                }).addTo(map);

            }

            console.log("route" + counter + ":" + route[counter].waypoints)

            //format waypoint for later use
            let locString1 = e.latlng.lat + ", " + e.latlng.lng;

            console.log("a -" + locString)
            counter++;

            //add latest waypoint to locString array
            locString[counter] = locString1
            currLoc[counter] = e

        } else {
            alert("You may only add up to 5 locations!")
        }


    }

    function saveTrip(){
        //iterate through array containing all coords and put them in 1 string
        let saveString = "";
        for(i=0;i<=counter;i++){
            saveString += locString[i] + "|"
        }

        console.log("saved = " + saveString)
        update_db(saveString)
    }

    map.on('click', onMapClick);

    function getCookie(cname) {
     var name = cname + "=";
     var ca = document.cookie.split(';');
     for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if(c.indexOf(name) == 0)
           return c.substring(name.length,c.length);
     }
     return "";
    }

    //update db with all waypoints string
    function update_db(locString) {
    $.ajax({
        type: "POST",
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        url:"updatedb/",
        data: {
            locations: locString
        {#        {#}
        {#    point0: locString[0],#}
        {#    point1: locString[1],#}
        {#    point2: locString[2],#}
        {#    point3: locString[3],#}
        {#    point4: locString[4],#}
        {#    point5: locString[5]}#}

        }
    }).done(function (data, status, xhr) {
        console.log(data["message"])
        var originalMsg = $(".toast-body").html();
        $(".toast-body").html(originalMsg + "<br/>Updateddatabase<br/>" + data["message"]);
    }).fail(function (xhr, status, error) {
        console.log(error);
        var originalMsg = $(".toast-body").html();
        $(".toast-body").html(originalMsg + "<br/>" + error);
    }).always(function () {
        console.log("find_loc_ed finished");
        $(".toast").toast('show');
    });
    window.location.href='{% url 'main:home' %}'
}

     function nearbyAttractions() {

                let csrftoken = getCookie('csrftoken');

                //set map boundary and post to associated view

                let bbox = map.getBounds().toBBoxString()
                console.log("bbox: " + bbox);

                $.ajax({
                    type: "POST",
                    url: '{% url 'main:nearby_attractions' %}',
                    headers: {

                        'X-CSRFToken': csrftoken
                    },
                    data: {

                        bbox: map.getBounds().toBBoxString()
                    }
                }).done(function (data, status, xhr) {

                    console.log(data);

                    let markerStyle = {
                        radius: 7,
                        fillColor: "red",
                        color: "black",
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.5
                    }

                    //Map results from view api query
                    let geoJsonLayer = L.geoJson(data, {

                        pointToLayer: function (feature, latlng) {
                            let marker = L.circleMarker(latlng, markerStyle);
                            name = feature.properties.name;
                            website = feature.properties.website
                            wheelchair = "" + feature.properties["wheelchair:description"]
                            marker.bindPopup("<h7><u><strong>Attraction Info:</strong></u></h7><br>" + "Name: " + name + "<br/>Website: " + website + "<br/>"+ "Wheelchair Accessible: " + wheelchair + "<br/>")

                            return marker
                        },
                    }).addTo(map);

                    map.addLayer(geoJsonLayer);

                }).fail(function (xhr, status, error) {
                    var message = "OSM Overpass query failed.<br/>";
                    console.log("Status: " + xhr.status + " " + xhr.responseText);
                    showOkAlert(message);
                }).always(function () {
                    //hide loading icons
                    loadHide.style.display = 'none'
                    loadHide.style.visibility = 'hidden'
                });

            }



</script>

{% endblock %}