#map { height: 400px; }

header {
    background-color: lightsteelblue;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
}

footer {
    background-color: lightsteelblue;
    padding: 10px;
    text-align: center;
    color: white;
}